name: "Lint"
on: push
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  
  md-link-check:
    name: "Broken Markdown links"
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Run Markdown link check
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: '.github/linters/mlc_config.json'
          use-quiet-mode: 'yes'

  super-lint:
    name: "Super Linter"
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Required to fetch version
    
    - name: Run Super Linter
      uses: github/super-linter/slim@v5
      env:
        IGNORE_GITIGNORED_FILES: true
        DEFAULT_BRANCH: main
        LINTER_RULES_PATH: '.github/linters'
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        LOG_LEVEL: WARN
        VALIDATE_ALL_CODEBASE: true
        MULTI_STATUS: true

        VALIDATE_GITHUB_ACTIONS: true
        VALIDATE_JSONC: true
        VALIDATE_MARKDOWN: true
        VALIDATE_XML: true
        VALIDATE_YAML: true
